* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #BFD7E4;
}

body,
input,
select,
textarea {
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    height: 465px;
    background: #293241;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header .text-header {
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1,
header p,
header .header-form {
    color: #FFF;
    font-weight: 400;
}

header h1 {
    font-family: Staatliches;
    font-size: 36px;
}

header p {
    height: 46px;

    font-family: Poppins;
    font-size: 16px;
}

header .header-form,
legend {
    font-family: Staatliches;
    font-size: 24px;
    line-height: 34px;
}

header .header-form {
    border-radius: 20px 20px 0px 0px;
    background: #F67669;

    width: 750px;
    height: 135px;

    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 750px;

    border-radius: 0px 0px 20px 20px;
    background: #FFF;

    margin: auto;

    padding: 30px 64px 64px;

    display: flex;
    flex-direction: column;
    gap: 28px;
}

.name-wrapper {
    display: flex;
    align-items: center;
    gap: 22px;
}

.name-wrapper input {
    width: 300px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper label {
    color: #4E4958;
    font-size: 14px;
    line-height: 24px;
}

.input-wrapper label span {
    color: #C1BCCC;
    font-size: 12px;
    line-height: 20px;
}

.input-wrapper input,
.input-wrapper select,
.input-wrapper textarea {
    border-radius: 8px;
    border: 1px solid var(--back-lines-in-white, #E6E6F0);
    background: var(--shapes-02, #FAFAFC);

    height: 55px;

    padding: 8px;
}

fieldset {
    border: none;
}

.fieldset-wrapper {
    border: none;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

legend {
    text-align: center;
    color: #253B51;

    width: 620px;
    border-bottom: 1px solid #E6E6F0;
    padding-bottom: 8px;
}

.input-wrapper #email {
    width: 620px;
}

.input-wrapper select {
    width: 300px;
}

.input-wrapper textarea {
    width: 600px;
    height: 165px;
}

.input-wrapper.checkbox {
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.input-wrapper.checkbox input {
    width: 24px;
    height: 24px;
}